<!--Bootstrap template-->
{% extends "forum/base.html" %}
{% load static %}

{% block content %}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">

                <div class="ibox-content m-b-sm border-bottom">
                    <div class="p-xs">
                        <div class="pull-left m-r-md">
                            <img src="{% static 'images/studydeck.png' %}" 
                                alt="studydeck-icon"
                                class="mid-icon" 
                                style="width: 1.5em; height: 1.5em; object-fit: contain; vertical-align: middle; margin-top: -10px;">
                        </div>

                        <div class="pull-right m-r-md"> <!-- just replace pull-left w/ pull-right-->>
                            <a href="{% url 'account_logout' %}" class="btn btn-danger btn-sm" style="margin-top: 20px;">Logout</a>
                        </div>

                        {% if user.is_authenticated %}
                                <h2>{{ category.name }}</h2>
                        {% endif %}
                        <span>{{ category.desc }}</span>
                    </div>
                </div>

                <div class="ibox-content forum-container">

                    <div class="forum-title">
                        <div class="pull-right forum-desc">
                            <samll>Total posts: {{ post_list.count}}</samll>
                        </div>
                        <h3>Posts</h3>
                    </div>
                    
                    {% for post in post_list %}
                        <div class="forum-item">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="forum-icon">
                                        {% if post.author.socialaccount_set.all %}
                                            <a href="/profile/{{ post.author_id_extracted }}">
                                            <img src="{{ post.author.socialaccount_set.all.0.get_avatar_url }}" 
                                                alt="Profile Picture"
                                                class="rounded-circle border"
                                                style="width: 3em; height: 3em;" />
                                            </a>
                                        {% else %}
                                            <i class="fa fa-clock-o"></i>
                                        {% endif %}
                                    </div>
                                    <a href="{{ post.id }}" class="forum-item-title">{{ post.title }} </a>
                                    <div class="forum-sub-title">{{ post.content }}</div>
                                </div>

                                <div class="col-md-1 offset-md-2 forum-info">
                                    <span class="views-number">
                                        {{ post.reply_set.count }}
                                    </span>
                                    <div>
                                        <small>Replies</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    {% if not post_list %}
                        <h6 style="text-align: center;">No posts in this category</h6>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock content%}