{% extends 'forum/base.html' %}
{% load static %}
{% load markdown_extras %}

{% block content %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">

                <div class="ibox-content m-b-sm border-bottom">
                    <div class="p-xs">
                        <div class="pull-left m-r-md">
                            <a href="/">
                            <img src="{% static 'images/studydeck.png' %}" 
                                alt="studydeck-icon"
                                class="mid-icon" 
                                style="width: 1.5em; height: 1.5em; object-fit: contain; vertical-align: middle; margin-top: -10px;">
                            </a>
                        </div>

                        <div class="pull-right m-r-md"> <!-- just replace pull-left w/ pull-right-->>
                            <a href="{% url 'account_logout' %}" class="btn btn-danger btn-sm" style="margin-top: 20px;">Logout</a>
                        </div>

                        <h2 style="text-align: center;">StudyDeck Forum</h2>

                    <div class="text-center">
                        {% if user.socialaccount_set.all %}
                            <span>Logged in as {{ user.first_name }} {{ user.last_name }}</span>
                        {% elif user.is_staff %}
                            <span>Logged in as ADMIN</span>
                        {% else %}
                            <span>Logged in as {{ user.username }}</span>
                        {% endif %}
                    </div>
                    </div>
                </div>

                <div class="ibox-content m-b-sm border-bottom">
                    <div class="p-xs">
                        {% if user.is_staff or is_mod %}
                            <div class="pull-right">
                                <a href="{% url 'forum:view_post_reports' post.id %}" class="btn btn-warning btn-xs">
                                    <i class="fa fa-flag text-danger"></i> {{ report_list.count}} Reports
                                </a>
                            </div>     
                        {% endif %}
                            <div class="pull-right">
                                <a href="{% url 'forum:like_post' post.id %}" class="btn btn-white btn-xs">
                                    <i class="fa fa-thumbs-up text-info"></i> Like ({{ post.likes.count }})
                                </a>

                                <a href="{% url 'forum:report_post' post.id %}" class="btn btn-white btn-xs">
                                    <i class="fa fa-flag text-danger"></i> Report
                                </a>

                                {% if user == post.author or user.is_staff or is_mod %}
                                    <a href="{% url 'forum:delete_post' post.id %}" 
                                    class="btn btn-danger btn-xs" 
                                    onclick="return confirm('Are you sure you want to delete this post? This cannot be undone.');">
                                        <i class="fa fa-trash"></i> Delete
                                    </a>
                                {% endif %}
                            </div>

                        <div class="pull-left m-r-md">
                            {% if post.author.socialaccount_set.all %}
                                <a href="{% url 'forum:profile' post.author_id_extracted %}">
                                    <img src="{{ post.author.socialaccount_set.all.0.get_avatar_url }}" 
                                        alt="Profile Picture"
                                        class="rounded-circle border"
                                        style="width: 3.5em; height: 3.5em; object-fit: cover;" />
                                </a>
                            {% else %}
                                <i class="fa fa-comments-o text-navy mid-icon" style="font-size: 48px;"></i>
                            {% endif %}
                        </div>

                        <div class="clear">
                            <h2 class="m-b-none">{{ post.title }}</h2>
                            
                            <div class="m-t-xs">
                                <small class="text-muted">
                                    <a class="fa fa-folder-open" href="{% url 'forum:home' %}category/{{ post.category.slug }}"></a> 
                                    <a href="{% url 'forum:home' %}category/{{ post.category.slug }}"><strong >{{ post.category.name }}</strong></a> 
                                    &nbsp;&nbsp;
                                    {% if post.course %}
                                        <a class="fa fa-mortar-board" href="{% url 'forum:course' post.course.code %}"></a> 
                                        <a href="{% url 'forum:course' post.course.code %}"><strong>{{ post.course.name }}</strong></a>
                                        &nbsp;&nbsp;
                                    {% endif %}
                                    <i class="fa fa-user"></i> {{ post.author.first_name }} {{ post.author.last_name }}
                                    <i class="fa fa-clock-o"></i> Posted on {{ post.date_posted|date }} at {{ post.date_posted|time }}
                                </small>
                            </div>

                            <!-- for showing tags -->
                            {% if post.tags.all %}
                            <div class="m-t-xs m-b-sm">
                                {% for tag in post.tags.all %}
                                    <a href="{% url 'forum:tag' tag.slug %}" class="btn btn-white btn-xs" style="border-radius: 10px; margin-right: 5px;">
                                        <i class="fa fa-tag text-info"></i> {{ tag.name }}
                                    </a>
                                {% endfor %}
                            </div>
                            {% endif %}
                            
                            <br>
                            <div class="m-t-sm">
                                <p style="font-size: 1.1em; line-height: 1.5;">{{ post.content | markdown | safe }}</p> 
                                <!--doesnt print without safe because safe tells python its safe to render-->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ibox-content forum-container">
                    
                    <div class="forum-title">
                        {% if post.is_locked %}
                            <div class="pull-right">
                                <strong>This post is locked</strong><br>
                                <strong>No more replies can be added</strong>
                            </div>
                        {% else %}
                            <div class="pull-right">
                                <a href="{% url 'forum:reply' post.id %}" class="btn btn-primary btn-sm">
                                    <i class="fa fa-plus"></i> Add Reply
                                </a>
                            </div>
                        {% endif %}
                        <h3>Replies</h3>
                    </div>

                    {% for reply in post.reply_set.all %}
                        {% if reply.is_deleted %}
                            <div class="forum-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        <div class="forum-icon">
                                                <img src="{% static 'images/deleted_icon.png' %}" 
                                                    alt="Profile Picture"
                                                    class="rounded-circle border"
                                                    style="width: 3em; height: 3em;" />
                                        </div>
                                            <span class="forum-item-title"><strong>Deleted</strong></span>


                                        <div class="forum-sub-title">This reply has been deleted</div>

                                    </div>
                                    
                                    <div class="col-md-3 forum-info">
                                        <small>Posted on {{ reply.date_posted|date }} at {{ reply.date_posted|time }}</small>
                                    </div>
                                </div>
                            </div>

                        {% else %}
                            <div class="forum-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        <div class="forum-icon">
                                            {% if reply.author.socialaccount_set.all %}
                                                <a href="{% url 'forum:profile' reply.author_id_extracted %}">
                                                    <img src="{{ reply.author.socialaccount_set.all.0.get_avatar_url }}" 
                                                        alt="Profile Picture"
                                                        class="rounded-circle border"
                                                        style="width: 3em; height: 3em;" />
                                                </a>
                                            {% else %}
                                                <img src="{% static 'images/studydeck.png' %}" 
                                                    alt="Profile Picture"
                                                    class="rounded-circle border"
                                                    style="width: 3em; height: 3em;" />
                                            {% endif %}
                                        </div>

                                        {% if reply.author.socialaccount_set.all %}
                                            <a href="#" class="forum-item-title">{{ reply.author.first_name }} {{ reply.author.last_name }}</a>
                                        {% elif reply.author.is_staff %}
                                            <span class="forum-item-title"><strong>ADMIN</strong></span>
                                        {% else %}
                                            <span class="forum-item-title"><strong>{{ reply.author.username }}</strong></span>
                                        {% endif %}

                                        <div class="forum-sub-title">{{ reply.content | markdown | safe }}</div>

                                        {% if user.is_authenticated %}
                                            {% if user == reply.author or user.is_staff or is_mod %}
                                                <div class="m-t-xs">
                                                    <a href="{% url 'forum:editreply' reply.id %}" class="text-navy small">
                                                        <i class="fa fa-edit"></i> Edit
                                                    </a>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    
                                    <div class="col-md-3 forum-info">
                                        <small>Posted on {{ reply.date_posted|date }} at {{ reply.date_posted|time }}</small>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% empty %}
                        <div class="forum-item">
                            <div class="row">
                                <div class="col-md-12 text-center p-md">
                                    <span class="text-muted">No replies yet. Be the first to join the conversation!</span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock content %}